body {
  font-family: "Nunito", serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.container {
  padding: 2rem !important;
}

.container-sm {
  padding: 1rem;
}

.title-container {
  padding: 2rem;
  font-weight: bold;
  text-align: center;
}

.bg-color {
  background-color: #e98485;
  /* height: 100vh; */
}
